{% extends "layouts/base.html" %}
{% block content %}
    <h1 class="title">Register</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" name="username" type="text" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control ">
                <input class="input" name="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" name="password1" type="password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <label class="label">Password Confirmation</label>
            <div class="control">
                <input class="input" name="password2" type="password" placeholder="Password Confirmation">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-success">
                    Register
                </button>
            </div>
        </div>
    </form>
{% endblock content %}